{% extends "base.html" %}

{% block title %}
  Add Income
{% endblock title %}

{% block content %}
  <div class="row my-3">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'income:index' %}">Income</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Income</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-12">
      <h3 class="display-6">Add Income</h3>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          {% include "partials/_messages.html" %}
        </div>
      </div>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3 row">
          <label for="amountField" class="col-sm-2 col-form-label">Amount</label>
          <div class="col-sm-10">
            <input type="text" name="amount" class="form-control" id="amountField" value="{{values.amount}}">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="descriptionField" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" name="description" class="form-control" id="descriptionField" value="{{values.description}}">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="sourceField" class="col-sm-2 col-form-label">Source</label>
          <div class="col-sm-10">
            <select class="form-select" name="source">
              {% if values.source %}
                <option selected value="{{values.source}}">{{values.source}}</option>
              {% else %}
                <option selected value="">Select a source</option>
              {% endif %}
              {% for source in sources  %}
                <option value="{{source.name}}">{{source.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="dateField" class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-10">
            <input type="date" name="date" class="form-control" id="dateField">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <input type="submit" value="Submit" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}