{% extends "base.html" %}
{% load static %}

{% block title %}
  Expense Summary
{% endblock title %}

{% block content %}
  <div class="row my-3">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses:index' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Expense Summary</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-12">
      <h3 class="display-6">Expense Summary</h3>
    </div>
  </div>
  <div class="row justify-content-evenly">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-5">
      <div class="card">
          <div class="card-body">
              <canvas id="myChart2" width="400" height="400"></canvas>
          </div>
      </div>
  </div>
  </div>
  <script src="{% static 'js/expense_summary.js' %}"></script>
{% endblock content %}