{% extends "base.html" %}

{% block content %}
  <div class="row my-3">
    <div class="col-md-9 d-flex align-items-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Expenses</li>
          <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
        </ol>
      </nav>
    </div>
    <div class="col-md-3 d-flex align-items-center">
      <a href="{% url 'expenses:add-expense' %}" class="btn btn-outline-success btn-sm ms-auto">Add Expense</a>
    </div>
  </div>
{% endblock content %}
