{% extends "base_auth.html" %} 

{% load static %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Create an account</h2>
    {% include "partials/_messages.html" %}
    <form action="{% url 'authentication:register' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          placeholder="Enter username"
          id="usernameField"
          class="form-control"
          value="{{username}}"
        />
        <div class="invalid-feedback d-none" id="username-feedback"></div>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Email Address</label>
        <input
          type="email"
          name="email"
          placeholder="Enter email address"
          id="emailField"
          class="form-control"
          value="{{email}}"
        />
        <div class="invalid-feedback d-none" id="email-feedback"></div>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter password"
          id="passwordField"
          class="form-control"
        />
        <div class="d-flex justify-content-end form-text text-primary small" id="showPasswordToggle">SHOW</div>
      </div>
      <input type="submit" value="Register" class="btn btn-success" id="registerBtn" />
      <div class="mt-3">
        <p class="lead fs-6">Already have an account? <a href="{% url 'authentication:login' %}">Login</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
